﻿
@{
    ViewBag.Title = "ConfirmEmail";
}
<h2>Confirm Email.</h2>

<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
    <p>@Html.ValidationSummary("", new { @class = "text-danger" })
</p>
</div>
