﻿@{
    ViewBag.Title = "Create password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <div class="alert alert-success">
        <strong>Success! Your password has been added.</strong> Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>
