﻿@{
    ViewBag.Title = "Administration";
}

<div id='loading' class="loadAnimation">
    Please wait... <img src="~/Content/ajax-loader.gif" />
</div>
<div class="content">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h2>Change your account settings</h2>
        <hr />

        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <h4>Modify account.</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div data-bind='value: Id' hidden></div>
            <div class="form-group">
                <label class="col-md-2 control-label">Full Name</label>
                <div class="col-md-10">
                    <input class="form-control" data-bind='value: FullName' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input class="form-control" data-bind='value: Name' disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    @Html.ActionLink("Change your password", "ChangePassword")
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    <input class="form-control" data-bind='value: $data.Email' disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">User Roles</label>
                <div class="col-md-10">
                    <div data-bind="foreach: Roles">
                        <input class="form-control" data-bind='value: Role' disabled />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button data-bind='click: SaveData' class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save Changes
                    </button>
                    <br /><br /><label id="result" class="text-danger"></label>
                </div>
            </div>

            <div data-bind="if: Display">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#resultsTable">Show/Hide test results</button>
                <div id="resultsTable" class="collapse">
                    <table class='table table-condensed'>
                        <tr>
                            <th>Test Name</th>
                            <th>Date</th>
                            <th>Result in %</th>
                        </tr>
                        <tbody data-bind="foreach: TestResults">
                            <tr>
                                <td>
                                    <input class="form-control" data-bind='value: TestName' disabled />
                                </td>
                                <td>
                                    <input class="form-control" data-bind='value: Date' disabled />
                                </td>
                                <td>
                                    <input class="form-control" data-bind='value: Result' disabled />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-bind="ifnot: Display">
                <h2>There are no Test results yet!</h2>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/jquery-1.6.2.min.js"></script>
    <script src="~/Scripts/CustomScripts/ChangeProfile.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <link href="~/Content/alertifyjs/alertify.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.css" rel="stylesheet" />
}
