﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "No Permission";
}

<hgroup>
    <h1 class="text-danger">You don't have permission to see this page!</h1>
    <h2> Confirm your email or contact to administrator.</h2>
</hgroup>
