﻿@{
    ViewBag.Title = "ManageUsers";
}

<div id='loading' class="loadAnimation">
    Please wait... <img src="~/Content/ajax-loader.gif" />
</div>
<div class="content">
    <h2>Manage users</h2>
    <hr />
    <div id="boolHelper" hidden></div>
    <p>
        Add new user:
        <a href="/Administration/AddUsers" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-user"></span> Add User
        </a>
    </p>
    <div class="form-horizontal">

        <table class='table table-hover'>
            <tbody>
                <tr>
                    <td>
                        <label>User</label>
                    </td>
                    <td class="col-md-4">
                        <select class="form-control" data-bind='options: Users , optionsText: "UserName", value: user , event:{change: GetRoles}, click : FindUser' id="userDropDown"> </select>
                    </td>
                    <td>
                        <div>
                            <input type="checkbox"
                                   name="my-checkbox"
                                   id="toggleBlockUnblock"
                                   data-on="Block"
                                   data-off="Unblock"
                                   checked data-toggle="toggle"
                                   data-width="280"
                                   data-size="large">
                            <br /><br />
                                <label id="result" class="text-danger"></label>
                            </div>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-lg" data-bind='click : goToURL'>
                            <span class="glyphicon glyphicon-edit"></span> Edit User Profile
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="allRoles" hidden>
            <table class='table table-hover'>
                <tr>
                    <th>Roles</th>
                    <th>Select role</th>
                </tr>
                <tbody data-bind="foreach: Roles">
                    <tr>
                        <td>
                            <input class="form-control" data-bind='value: Value' disabled />
                        </td>

                        <td>
                            <input type="checkbox" data-bind="checked: Selected, disable : Disabled" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary" data-bind='click: Save'>
                <span class="glyphicon glyphicon-refresh"></span> Update Roles
            </button>
        </div>
        <div id="rolesForAdmin" hidden>
            <table class='table table-hover'>
                <tr>
                    <th>Roles</th>
                    <th>Select role</th>
                </tr>
                <tbody data-bind="foreach: RolesAdmin">
                    <tr>
                        <td>
                            <input class="form-control" data-bind='value: Value' disabled />
                        </td>

                        <td>
                            <input type="checkbox" data-bind="checked: Selected, disable : Disabled" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary" data-bind='click: Save'>
                <span class="glyphicon glyphicon-refresh"></span> Update Roles
            </button>
        </div>

    </div>
</div>
<script src="~/Scripts/knockout-3.2.0.js"></script>
<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/CustomScripts/ManageUsers.js"></script>
<script src="~/Scripts/alertify.js"></script>
<link href="~/Content/alertifyjs/alertify.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/themes/default.css" rel="stylesheet" />