﻿@{
    ViewBag.Title = "Add User";
}
<h1>Create user confirmation</h1>

<div class="alert alert-success">
    <strong>User is created successfully!</strong> Email with request to create password is sent to mailbox
</div>