﻿@model TestsApp.WEB.Models.EditProfileModel
@{
    ViewBag.Title = "Users Profile";
}

<div>
    <h2>Change users account settings</h2>
    <hr />

    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div id="errors" style="color:red;"></div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id, new { id = "UserId" })
        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", id = "FullName" })
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "User_Name" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "true", id = "Email" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">User Roles</label>
            <div class="col-md-10">
                @foreach (var item in Model.Roles)
                {
                    <div class="col-md-10">@item</div><br />
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="SaveChanges" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save Changes
                </button>

            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/CustomScripts/ChangeUsersProfile.js"></script>
    }
</div>