﻿@{
    ViewBag.Title = "CreateTest";
}

<h2>Create Test</h2>
<hr />
<div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class = "col-md-2">Test Name</label>
            <div class="col-md-10">
                <input class="form-control" data-bind='value: TestName' , placeholder = "Test Name" id="testDropDown"/>
            </div>
        </div>
        <div class="form-group">
            <label class = "col-md-2 ">Information</label>
            <div class="col-md-10">
                <input class="form-control" data-bind='value: Information', placeholder = "Information" id="infoDropDown"/>
            </div>
        </div>
    </div>
    <div id="test_Container" hidden>
        <table class='table table-hover'>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            <tbody data-bind="foreach: Questions">
                <tr>
                    <td>
                        <input class="form-control" data-bind='value: QuestionName' />
                        <div><br />
                            <a href='#' class="btn btn-danger" data-bind='click: $root.removeQuestion'>
                                <span class="glyphicon glyphicon-trash"></span> Delete question
                            </a>
                        </div>
                    </td>
                    <td>
                        <table class='table table-hover'>
                            <tbody data-bind="foreach: Answers">
                                <tr>
                                    <td><input class="form-control" data-bind='value: AnswerName' /></td>
                                    <td><input type="checkbox" data-bind="checked: IsCorrect" /></td>
                                    <td><label>Correct answer</label></td>
                                    <td>
                                        <a href='#' class="btn btn-danger" data-bind='click: $root.removeAnswer'>
                                            <span class="glyphicon glyphicon-trash"></span> Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <a href="#" class="btn btn-success" data-bind='click: $root.addAnswer'>
                                <span class="glyphicon glyphicon-plus"></span> Add answer
                            </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href='#' class="btn btn-primary btn-lg" data-bind='click: save'>
            <span class="glyphicon glyphicon-floppy-disk"></span> Save changes
        </a>
        <div id='loading'>
            Please wait... <img src="~/Content/ajax-loader.gif" />
        </div> 
    </div>
</div>
<hr />
<p>
    <a href="#" class="btn btn-success" data-bind='click: addQuestion' id="addQuestion">
        <span class="glyphicon glyphicon-plus"></span> Add a Question
    </a>
</p>

<script src="~/Scripts/knockout-3.2.0.js"></script>
<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/CustomScripts/CreateTest.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

