﻿@model TestsApp.WEB.Models.TestsModel

<form action="/Tests/DeleteTest/@Model.Id" method="get">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Confirm Deletion</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete: <span><b>@Model.TestName</b> ?</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </div>
</form>

