﻿@model List<TestsApp.Core.Entities.Test>
@{
    ViewBag.Title = "EditTest";
}

<h2>Edit test</h2>
<hr />
<div data-bind='value: Id' hidden></div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2">Test Name</label>
        <div class="col-md-10">
            <input class="form-control" data-bind='value: TestName' />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 ">Information</label>
        <div class="col-md-10">
            <input class="form-control" data-bind='value: Information' />
        </div>
    </div>
</div>
<table class='table table-hover'>
    <tr>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <tbody data-bind="foreach: Questions">
        <tr>
            <td>
                <input class="form-control" data-bind='value: QuestionName' /><br />
                <div>
                    <a href='#' class="btn btn-danger" data-bind='click: $root.removeQuestion'>
                        <span class="glyphicon glyphicon-trash"></span> Delete question
                    </a>
                </div>
            </td>
            <td>
                <table class='table table-hover'>
                    <tbody data-bind="foreach: Answers">
                        <tr>
                            <td><input class="form-control" data-bind='value: AnswerName' /></td>
                            <td><input type="checkbox" data-bind="checked: IsCorrect" /></td>
                            <td><label>Correct answer</label></td>
                            <td>
                                <a href='#' class="btn btn-danger" data-bind='click: $root.removeAnswer'>
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <a href="#" class="btn btn-success" data-bind='click: $root.addAnswer'>
                        <span class="glyphicon glyphicon-plus"></span> Add answer
                    </a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<a href='#' class="btn btn-primary btn-lg" data-bind='click: save'>
    <span class="glyphicon glyphicon-floppy-disk"></span> Save changes
</a>

<hr />
<p>
    <a href="#" class="btn btn-success" data-bind='click: addQuestion' id="addQuestion">
        <span class="glyphicon glyphicon-plus"></span> Add a Question
    </a>
</p>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/knockout-3.2.0.js"></script>
<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/CustomScripts/EditTest.js"></script>