﻿@model TestsApp.WEB.Models.TestsModel

@{
    ViewBag.Title = "Index";
}
<h2>Available tests</h2>

<hr />
<div class="container">
    <p>Type something in the input field to search:</p>
    <input class="form-control" id="searchInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody id="testsTable">
            @if (User.IsInRole("Tutor"))
            {
                foreach (var test in Model.AllTests)
                {
                    if (test.ApplicationUser.Id == Model.UserId)
                    {
                        var testModal = "testModal" + test.Id;
                        <tr>
                            <td hidden id="testId_">@test.Id</td>
                            <td width="30%">
                                <a href="/Tests/EditTest/@test.Id" title="Hit to edit test">@test.TestName</a>
                            </td>

                            <td>
                                <div id="modDialog" class="modal fade">
                                    <div id="dialogContent" class="modal-dialog"></div>
                                </div>
                                <div>
                                    <a href="/Tests/TestResultsModal/@test.Id" class="hyperLinkItem">@test.Information</a>
                                </div>
                            </td>
                            <td width="10%">
                                <div id="modDialog" class="modal fade">
                                    <div id="dialogContent" class="modal-dialog"></div>
                                </div>
                                <div>
                                    <a href="/Tests/DeleteTestModal/@test.Id" class="hyperLinkItem btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span> Delete Test
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td hidden id="testId_">@test.Id</td>
                            <td width="30%">
                                <p>@test.TestName</p>
                            </td>
                            <td>
                                <a href="/Tests/TestResults/@test.Id">@test.Information</a>

                            </td>
                            <td width="10%">
                                @*<a href="/Tests/OnlineTest/@test.Id" class="btn btn-info disabled" >Start Test</a>*@
                            </td>
                        </tr>
                    }
                }
            }

            @if (User.IsInRole("Advanced Tutor"))
            {
                foreach (var test in Model.AllTests)
                {
                    var testModal = "testModal" + test.Id;

                    <tr>
                        <td hidden id="testId_">@test.Id</td>
                        <td width="30%">
                            <a href="/Tests/EditTest/@test.Id" title="Hit to edit test">@test.TestName</a>
                        </td>

                        <td>
                            <a href="/Tests/TestResults/@test.Id" title="'Click' to see results of test">@test.Information</a>
                        </td>
                        <td width="10%">
                            <div id="modDialog" class="modal fade">
                                <div id="dialogContent" class="modal-dialog"></div>
                            </div>
                            <div>
                                <a href="/Tests/DeleteTestModal/@test.Id" class="hyperLinkItem btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span> Delete Test
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }


            @if (User.IsInRole("Administrator"))
            {
                foreach (var test in Model.AllTests)
                {
                    <tr>
                        <td hidden id="testId_">@test.Id</td>
                        <td width="30%">
                            <p>@test.TestName</p>
                        </td>
                        <td>
                            <div id="modDialog" class="modal fade">
                                <div id="dialogContent" class="modal-dialog"></div>
                            </div>
                            <div>
                                <a href="/Tests/TestResultsModal/@test.Id" class="hyperLinkItem">@test.Information</a>
                            </div>
                        </td>
                        <td width="10%">
                            <a href="/Tests/OnlineTest/@test.Id" class="btn btn-info disabled">Start Test</a>
                        </td>

                    </tr>
                }
            }
            @if (User.IsInRole("Student") || User.IsInRole("Advanced Student"))
            {
                foreach (var test in Model.AllTests)
                {
                    <tr>
                        <td hidden id="testId_">@test.Id</td>
                        <td width="30%">
                            <p>@test.TestName</p>
                        </td>

                        <td>
                            <p>@test.Information</p>
                        </td>
                        <td width="10%">
                            <a href="/Tests/OnlineTest/@test.Id" class="btn btn-primary">Start Test</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
@if (User.IsInRole("Tutor") || User.IsInRole("Advanced Tutor"))
{
    <a href="/Tests/CreateTest" class="btn btn-primary">Create New Test</a> <a href="/Tests/OfflineTest" class="btn btn-primary">OfflineTest</a>
}



@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/CustomScripts/SignalRNotification.js"></script>

    <script src="~/Scripts/CustomScripts/FilterTable.js"></script>
    <script src="~/Scripts/CustomScripts/ShowModal.js"></script>
}