﻿@{
    ViewBag.Title = "OfflineTest";
}

<h2>OfflineTest</h2>
<hr />
<div class="form-horizontal">

    <div class="form-group" id="userForm">
        <label class="col-md-2 ">Select a User...</label>
        <div class="col-md-10">
            <select class="form-control" data-bind='options: Users , optionsText: "UserName", value: user' id="userDropDown"> </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Select a Test...</label>
        <div class="col-md-10">
            <select class="form-control" data-bind='options: Tests , optionsText: "TestName", value: test, event:{change: Send}' id="testDropDown"> </select>
        </div>
    </div>

</div>
<div id='loading'>
    Please wait... <img src="~/Content/ajax-loader.gif"/>
</div>

<table class='table table-hover'>
    <tr>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <tbody data-bind="foreach: Questions">
        <tr>
            <td>
                <input class="form-control" data-bind='value: QuestionName' disabled/>
            </td>
            <td>
                <table class='table table-hover'>
                    <tbody data-bind="foreach: Answers">
                        <tr>
                            <td><input class="form-control" data-bind='value: AnswerName' disabled/></td>
                            @*<td><input type="checkbox" data-bind="checked: IsCorrect" disabled/></td>*@
                            @*<td><label>Correct answer</label></td>*@
                            <td><input type="checkbox" data-bind="checked: IsChecked" /></td>
                            <td><label>Student answer</label></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<div id="buttonsArea">
    @*<button class="btn btn-primary"  data-bind='click: Save'>Save Results</button>*@
    <a href='#' class="btn btn-primary" data-bind='click: Save'>
        <span class="glyphicon glyphicon-floppy-disk"></span> Save Results
    </a>

    <p>
        Print offline test for student:
        <a href="#" class="btn btn-success btn-lg" id="print">
            <span class="glyphicon glyphicon-print"></span> Print
        </a>
    </p>
</div>

<script src="~/Scripts/knockout-3.2.0.js"></script>
<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/CustomScripts/OfflineTest.js"></script>