﻿@{
    ViewBag.Title = "OnlineTest";
}
<div id='loading' class="loadAnimation">
    Please wait... <img src="~/Content/ajax-loader.gif" />
</div>
<div class="content">
    <br />
    <span class="alert alert-danger" id="counter"></span>
    <h2>OnlineTest</h2>

    <div class="alert alert-info">
        <h2>Test name: <span data-bind='text: TestName'></span></h2>
    </div>

    <table class='table table-hover'>
        <tr>
            <th>Questions</th>
            <th>Answers</th>
        </tr>
        <tbody data-bind="foreach: TempQuestions">
            <tr>
                <td>
                    <input class="form-control" data-bind='value: QuestionName' disabled />
                </td>
                <td>
                    <table id="answersTable" class='table table-hover'>
                        <tbody data-bind="foreach: Answers">
                            <tr>
                                <td>
                                    <input class="form-control" data-bind='value: AnswerName' disabled />
                                </td>
                                <td data-bind="if: Count.length==1">
                                    <input class="answerCheckBox" type="radio" data-bind="attr: {value: true, name: $parentContext.$index()}, checked: IsChecked, event:{change:  $root.SelectAnswer}" />
                                </td>
                                <td data-bind="ifnot: Count.length==1">
                                    <input class="answerCheckBox" type="checkbox" data-bind="checked: IsChecked, event:{change:  $root.SelectAnswer}" />
                                </td>
                                <td>
                                    <label>Is it correct answer?</label>
                                </td>
                                @*Display correct answers for debugging*@
                                @*<td>
                                    <input type="checkbox" data-bind="checked: IsCorrect" disabled />
                                </td>*@
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <input class="dontKnowCheckbox" type="checkbox" data-bind="event:{change:  $root.DontKnowAnswer}" />
                    <label> Don't know answer</label>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div id="nextButton">
        <button id="nextQuestion" class="btn btn-info" data-bind='click: ShowQuestion'>Next Question</button>
    </div>

    <div id="saveButton">
        <button id="saveResult" class="btn btn-warning" data-bind='click: Save'>Save Results</button>
    </div>
</div>
<script src="~/Scripts/knockout-3.2.0.js"></script>
<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/CustomScripts/OnlineTest.js"></script>

<script>


</script>