﻿@model TestsApp.Core.ViewModels.TestResultViewModel

@if (Model != null)
{
    <p>Please find your test results below:</p><br />
    <table border='1' cellpadding='0' cellspacing='0' width = '400'>
        <tr>
            <th>Date of test passing</th>
            <th>Result in %</th>
            <th>Test name</th>
            <th>User name</th>
        </tr>
        <tbody>
            <tr>
                <td align='center'>
                    @Model.date
                </td>
                <td align='center'>
                    @Model.testResult
                </td>
                <td align='center'>
                    @Model.test.TestName
                </td>
                <td align='center'>
                    @Model.appUser.UserName
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <h3>Error!</h3>
}
