﻿@model TestsApp.Core.Entities.Test

<div class="testResults modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Test results</h4>
    </div>
    <div class="modal-body">
       @if (Model.TestResults.Count != 0)
       {
        <table class='table table-hover'>
            <tr>
                <th>Test Name</th>
                <th>User Name</th>
                <th>Date</th>
                <th>Result in % (passed)</th>
            </tr>
            <tbody>

                @foreach (var result in Model.TestResults)
                {
                    <tr>
                        <td>
                            <input class="form-control" value="@result.Test.TestName" disabled />
                        </td>
                        <td>
                            <input class="form-control" value="@result.ApplicationUser.UserName" disabled />
                        </td>
                        <td>
                            <input class="form-control" value="@result.Date" disabled />
                        </td>
                        <td>
                            <input class="form-control" value="@result.Result%" disabled />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       }
       else
       {
        <h2>There are no results yet!</h2>
       }

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
    </div>
</div>
