﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
     {
         using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
         {
             @Html.AntiForgeryToken()

             <ul class="nav navbar-nav navbar-right">
                 <li>
                     @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "EditProfile", "Account", routeValues: null, htmlAttributes: new { title = "Administration" })
                 </li>
                 <li>@Html.ActionLink("Manage Users", "ManageUsers", "Administration")</li>
                 <li><a href="/Elmah">Show Errors Log</a></li>
                 <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
             </ul>
         }

     }
     else
     {
         using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
         {
             @Html.AntiForgeryToken()

             <ul class="nav navbar-nav navbar-right">
                 <li>
                     @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "EditProfile", "Account", routeValues: null, htmlAttributes: new { title = "Administration" })
                 </li>
                 <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
             </ul>
         }
 
     }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
